{{page-title "Ex1"}}

<div class="card">
  <div class="card-header bg-primary text-light">Ex1 : Note application</div>
  <div class=""card-body>
    <Textarea class="from-control" @value={{this.content}}/>
  </div>
</div>

<button {{on "click" this.clear}}>Effacer</button>
<button {{on "click" this.save}}>Raffraichir</button>

<p> {{ this.style }} </p>

{{outlet}}