{{!-- template-lint-disable no-action --}}
{{page-title "Step1"}}



<MultiSelect @elements={{this.dispoItems}}
             @selected={{this.dispoItems_}}
             @onChange={{this.changeDispo}} > </MultiSelect>


 <button type="button" {{action "add" this.dispoItems this.includedItems this.dispoItems_}}> Ajouter sélection </button>
 <button type="button" {{action "add" this.includedItems this.dispoItems this.includedItems_ }}> Retirer sélection </button>

<MultiSelect @elements={{this.includedItems}}
             @selected={{this.includedItems_}}
             @onChange={{this.changeIncluded}} > </MultiSelect>

<ul>
{{#each this.dispoItems_ as |item|}}
    <li> {{item.title}} </li>
{{/each}}
</ul>

{{outlet}}